<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>考勤</title>
    <link rel="stylesheet" href="/static/css/attendance.css">
    <link rel="stylesheet" href="/static/css/basic.css">
    <script src="/static/js/jquery-1.11.3.js"></script>
    <script src="/static/js/attendance.js"></script>
</head>
<body>
<!--顶部背景-->
<div id="top">
    <!--顶部内容-->
    <div id="top_content">
        <img src="" class="top1">
        <p class="top2"><b>企业管理系统</b></p>
        <p class="top3"><a href="/main">回到首页</a></p>
    </div>
</div>

<!-- 主体背景 -->
<div id="box">
    <!-- 主体部分 -->
    <div id="main">
        <!-- 左侧导航栏 -->
        <form method="get" action="" enctype="">
            <div id="left_view">
                <ul class="left_view">
                    <li class="left_li"><a>招聘管理</a>
                        <ol class="view">
                            <li onclick="show_recruit1()"><a href="/recruit">临时人员详情表</a></li>
                            <li onclick="show_recruit2()"><a href="/recruit">临时人员详情表</a></li>
                            <li onclick="show_recruit3()"><a href="/recruit">临时人员基本情况</a></li>
                        </ol>
                    </li>
                    <li class="left_li"><a>考勤管理</a>
                        <ol class="view">
                            <!--<li>考勤数据采集</li>-->
                            <li onclick="show_inner1()">考勤记录</li>
                            <li onclick="show_inner2()">出差管理</li>
                            <li onclick="show_inner3()">休假管理</li>
                            <li onclick="show_inner4()">加班管理</li>
                        </ol>
                    </li>
                    <li class="left_li"><a href="notice.html">培训计划</a></li>
                    <li class="left_li"><a href="main.html">其他查询</a></li>
                </ul>
            </div>
        </form>

        <!--右侧内容区-->
        <div id="inner">
            <table border="1px" id="table1" style="display:none;">
                <!--考勤记录-->
                <tr>
                    <th>工号</th>
                    <th>姓名</th>
                    <th>工作状态</th>
                    <th>工作天数</th>
                    <th>入职时间</th>
                    <th>工作天数</th>
                </tr>
                {% for p in pres %}
                <tr>
                    <td>{{p.username}}</td>
                    <td>{{p.age}}</td>
                    <td>{{p.email}}</td>
                    <td>{{p.birthday}}</td>
                    {% if p.isActive %}
                    <td>已激活</td>
                    {% else %}
                    <td>未激活</td>
                    {% endif %}
                    <td>
                        <a href="/01-upuser?id={{u.id}}">修改</a>
                        <a href="#">删除</a>
                    </td>
                </tr>
                {% endfor %}
                {% if p.kws %}
                <tr>
                    <td colspan="5">
                        <a href="/update?kw={{params.kw}}&pageCurrent=1">首页</a>
                        <a href="/update?kw={{params.kw}}&pageCurrent={{params.pageCurrent-1}}">上一页</a>
                        <a>{{params.pageCurrent}}/{{params.pages}}</a>
                        {% if params.pageCurrent == params.pages %}
                        <a href="/update?kw={{params.kw}}&pageCurrent={{params.pageCurrent}}">下一页</a>
                        {% else %}
                        <a href="/update?kw={{params.kw}}&pageCurrent={{params.pageCurrent+1}}">下一页</a>
                        {% endif %}
                    </td>
                    <td><a href="/update?pageCurrent=1">返回</a></td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="6">
                        <a href="/update?pageCurrent=1">首页</a>
                        <a href="/update?pageCurrent={{params.pageCurrent-1}}">上一页</a>
                        <a>{{params.pageCurrent}}/{{params.pages}}</a>
                        {% if params.pageCurrent == params.pages %}
                        <a href="/update?pageCurrent={{params.pageCurrent}}">下一页</a>
                        {% else %}
                        <a href="/update?pageCurrent={{params.pageCurrent+1}}">下一页</a>
                        {% endif %}
                        <a href="/update?pageCurrent={{params.pages}}">尾页</a>
                        <input type="text" name="pageCurrent" class="ipt">
                        <button>跳转</button>
                    </td>
                </tr>
                {% endif %}
                <tr>
                    <th colspan="6">
                        <button onclick="dele1()">关闭</button>
                    </th>
                </tr>
            </table>
        </div>
        <!-- 底部 -->
        <div id="end">
            <p>Copyright © 2001-2019 Weaver Network All Rights Reserved. 渝ICP备xxxxxxxx号</p>
        </div>
    </div>
</div>

</body>
</html>