<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<table border="1" width="500">
    <tr>
        <th>工号</th>
        <th>姓名</th>
        <th>电话</th>
        <th>生日</th>
        <th>职位</th>
        <th>操作</th>
    </tr>
    {% for p in params.pers %}
    <tr>
        <td>{{p.num}}</td>
        <td>{{p.name}}</td>
        <td>{{p.tel}}</td>
        <td>{{p.birthday}}</td>
        <td>{{p.want_job}}</td>
        <td>
            <a href="#">修改</a>
            <a href="#">删除</a>
        </td>
    </tr>
    {% endfor %}
    <tr>
        <td colspan="6">
            <a href="/attendance?currentPage=1">首页</a>
            <a href="/attendance?currentPage={{params.prevPage_bases}}">上一页</a>
            <a href="/attendance?currentPage={{params.nextPage_bases}}">下一页</a>
            <a href="/attendance?currentPage={{params.lastPage_bases}}">尾页</a>
        </td>
    </tr>
    <tr>
        <th colspan="6">
            <button onclick="dele3()">关闭</button>
        </th>
    </tr>
</table>
</body>
</html>