<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>招聘</title>
    <link rel="shortcut icon" href="/static/images/1.jpg" type="image/jpg">
    <link rel="stylesheet" href="/static/css/recruit.css">
    <link rel="stylesheet" href="/static/css/basic.css">
    <script src="/static/js/jquery-1.11.3.js"></script>
    <script src="/static/js/recruit.js"></script>

    <style>
        .th {
            width: 150px;
        }

        #exercise {


        }

    </style>
</head>
<body>
<!--顶部背景-->
<div id="top">
    <!--顶部内容-->
    <div id="top_content">
        <img src="/static/images/e.jpg" class="top1">
        <p class="top2"><b>企业管理系统</b></p>
        <p class="top3"><a href="/main">回到首页</a></p>
    </div>
</div>

<!-- 主体背景 -->
<div id="box">
    <!-- 主体部分 -->
    <div id="main">
        <!-- 左侧导航栏 -->
        <form method="post" action="" enctype="">
            <div id="left_view">
                <ul class="left_view">
                    <li class="left_li"><a>招聘管理</a>
                        <ol class="view">
                            <li><a href="/recruit">临时人员基本情况</a></li>
                            <li><a href="/recruit_d">应聘人员详情表</a></li>

                        </ol>
                    </li>
                    <li class="left_li"><a>考勤管理</a>
                        <ol class="view">
                            <!--<li>考勤数据采集</li>-->
                            <li onclick="show_inner1()"><a href="attendance.html">考勤记录</a></li>
                        </ol>
                    </li>
                    <li class="left_li"><a href="notice.html">培训计划</a></li>
                    <li class="left_li"><a href="main.html">其他查询</a></li>
                </ul>
            </div>
        </form>

        <!--右侧内容区-->

        <div id="add">
            <table border="1px" width="800px" cellspacing="0">
                <tr>
                    <th>姓名</th>
                    <th>日期</th>
                    <th>签到时间</th>
                    <th>签退时间</th>
                    <th>状态</th>
                </tr>
                {% for att in params.atts %}
                    <tr>
                        <td>{{ att.per_name }}</td>
                        <td>{{ att.sign_data }}</td>
                        <td>{{ att.in_time }}</td>
                        <td>{{ att.out_time }}</td>
                        <td>{{ att.per_status }}</td>
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="6">
                        <a href="/attendance?currentPage=1">首页</a>
                        <a href="/attendance?currentPage={{ params.prevPage_bases }}">上一页</a>
                        <a href="/attendance?currentPage={{ params.nextPage_bases }}">下一页</a>
                        <a href="/attendance?currentPage={{ params.lastPage_bases }}">尾页</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>