<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>企业管理系统</title>
    <link rel="stylesheet" href="static/css/login.css" type="text/css">

    <script src="/static/js/login.js"></script>
    <script>
        window.onload = function (){
           var uinput = $("input");
           uinput.oninput = function (){
               return uname = uinput.value;
            };
        }


    </script>
</head>
<body>
<div class="top">
    <p>[LOGO]企业管理系统丨</p><span>智能企业管理解决方案,从此管理变得简单...</span>
</div>
<div class="center">
    <img src="static/images/login_bg_img.jpg">
    <div class="login">

        <form action="/main" method="post" enctype="multipart/form-data">
            <div id="l1">
                登　录
            </div>
            <div id="l2">
                注　册
            </div>
            <p id="l6"></p>
            <table id="l3">
                <tr>
                    <td class="user">账　号</td>
                    <td class="user"><input class="box num1" type="text" name="uname" placeholder="企业统一社会信用码"></td>
                </tr>
                <tr id="l7">
                <tr>
                    <td class="user">密　码</td>
                    <td class="user"><input class="box" type="password" name="pswd" placeholder="法人身份证号码后6位"></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input id="l4" type="checkbox" name="remember_pwd">
                        <span>记住密码</span>
                        <a href="">忘记密码?</a>
                    </td>
                </tr>
                <tr>
                    <td id="l5" colspan="2">
                        <input type="submit" value="登　录">
                    </td>
                </tr>
            </table>
        </form>
    </div>

</div>
<div class="bottom">
    <a href="">　公司介绍　丨</a>
    <a href="">　开发团队　丨</a>
    <a href="">　法律申明　丨</a>
    <a href="">　用户协议　丨</a>
    <a href="">　隐私政策　丨</a>
    <a href="">　联系我们</a>
    <p>Copyright © 2001-2019 Weaver Network All Rights Reserved. 渝ICP备xxxxxxxx号</p>
</div>


</body>
</html>