<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/basic.css">
    <link rel="shortcut icon" href="/static/images/1.jpg" type="image/jpg">
    <script src="/static/js/jquery-1.11.3.js"></script>
    <script src="/static/js/main.js"></script>

</head>
<body>
    <!--顶部背景-->
    <div id="top">
        <!--顶部内容-->
        <div id="top_content">
            <img src="/static/images/e.jpg" class="top1">
            <p class="top2"><b >企业管理系统</b></p>
            <p class="top3"><a href="/">退出</a></p>
        </div>
    </div>

    <!-- 主体背景 -->
    <div id="box">
        <!-- 主体部分 -->
        <div id="main">
            <!-- 左侧导航栏 -->
            <form method="get" action="" enctype="">
                <div id="left_view">
                    <ul class="left_view">
                        <li class="left_li"><a href="/recruit">招聘管理</a>
                            <ol class="view">
                                <li onclick="show_recruit3()"><a href="/recruit">应聘人员基本情况</a></li>
                                <li onclick="show_recruit1()"><a href="/recruit">应聘人员详情表</a></li>
                                <li onclick="show_recruit2()"><a href="/recruit">***********</a></li>

                            </ol>
                        </li>
                        <li class="left_li"><a href="/attendance">考勤管理</a>
                            <ol class="view">
                                <!--<li>考勤数据采集</li>-->
                                <li onclick="show_inner1()"><a href="/attendance">考勤记录</a></li>
                                <li onclick="show_inner2()"><a href="/attendance">出差管理</a></li>
                                <li onclick="show_inner3()"><a href="/attendance">休假管理</a></li>
                                <li onclick="show_inner4()"><a href="/attendance">加班管理</a></li>
                            </ol>
                        </li>
                        <li class="left_li" id="left_notice"><a href="/notice">培训计划</a>
                            <ol class="view">
                                <li id="show_notice"><a href="/notice">发布公告</a></li>
                                <li id="find_notice"><a href="/notice">查看公告</a></li>
                            </ol>
                        </li>
                        <li class="left_li">其他查询
                            <ol class="view">
                                <li id="content1_main">最近公告信息</li>
                                <li id="content2_main">第一次公告信息</li>
                            </ol>
                        </li>
                    </ul>
                </div>
            </form>

            <!--右侧内容区-->
            <div id="inner">
                <table border="1px" id="table1"  style="display:none;">
                    <!--考勤记录-->

                    <tr>
                        <th colspan="6"><button onclick="dele1()">关闭</button></th>
                    </tr>

                </table>
                <table border="1px" id="table2" style="display:none;">
                    <tr>
                        <td class="user">账　号</td>
                        <td class="user"><input class="box" type="text" name="registration_no" placeholder="企业统一社会信用码"></td>
                    </tr>
                    <tr id="l7">
                    <tr>
                        <td class="user">密　码</td>
                        <td class="user"><input class="box" type="password" name="password" placeholder="法人身份证号码后6位"></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <input id="l4" type="checkbox" name="remember_pwd">
                            <span>记住密码</span>
                            <a href="">忘记密码?</a>
                        </td>
                    </tr>
                    <tr>
                        <td id="l5" colspan="2">
                            <input type="submit" value="登　录">
                        </td>
                    </tr>
                    <tr>
                        <th colspan="6"><button onclick="dele2()">关闭</button></th>
                    </tr>
                </table>
                <table border="1px" id="table3" style="display:none;">

                    <tr>
                        <th>工号</th>
                        <th>姓名</th>
                        <th>工作状态</th>
                        <th>工作天数</th>
                        <th>入职时间</th>
                        <th>工作天数</th>
                    </tr>
                    <tr>
                        <th colspan="6"><button onclick="dele3()">关闭</button></th>
                    </tr>

                </table>
                <table border="1px" id="table4" style="display:none;">

                    <tr>
                        <th colspan="6"><button onclick="dele4()">关闭</button></th>
                    </tr>

                </table>
                <!--默认公告区域-->
                <div id="content">
                    <form action="" method="post" enctype="multipart/form-data">
                        <div id="content1">
                            <p class="c1">公司公告通知</p>
                            <p class="c2">主题：<span>{{notice.topic}}</span></p>
                            <p class="c3">主讲人：<span>{{notice.notice_uname}}</span></p>
                            <p class="c4">内容：</p>
                            <textarea class="c5" rows="10" cols="auto" onfocus=this.blur()>{{notice.notice_cot}}</textarea>
                        </div>
                        <div id="content2" style="display:none;">
                            <p class="c1">公司公告通知</p>
                            <p class="c2">主题：<span>{{notice_first.topic}}</span></p>
                            <p class="c3">主讲人：<span>{{notice_first.notice_uname}}</span></p>
                            <p class="c4">内容：</p>
                            <textarea class="c5" rows="10" cols="auto" onfocus=this.blur()>{{notice_first.notice_cot}}</textarea>
                        </div>

                </div>
            </div>

            <!-- 底部 -->
            <div id="end">
                <p>Copyright © 2001-2019 Weaver Network All Rights Reserved. 渝ICP备xxxxxxxx号</p>
            </div>
        </div>
    </div>

</body>
</html>