<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>公告管理</title>
    <link rel="stylesheet" href="/static/css/notice.css">
    <link rel="stylesheet" href="/static/css/basic.css">
    <script src="/static/js/jquery-1.11.3.js"></script>
    <script src="/static/js/notice.js"></script>

    <script>
        $(function(){
            $(".in7").click(function(){
                $.ajax({
                    url:"/show-notice",
                    type:"post",
                    data:{
                        topic:$("#topic").val(),
                        uname:$("#uname").val(),
                        content:$("#cot").val()
                    },
                    dataType:"json",
                    success:function(data){
                        if(data.status == 1){
                            alert(data.text),
                            $("#topic").val(""),
                            $("#uname").val(""),
                            $("#cot").val("")
                        }else{
                            alert(data.text);
                        }
                    }
                });
            });
            $(".inn5").click(function(){
                $.ajax({
                    url:"/content2",
                    type:"post",
                    data:{
                        topic2:$("#topic2").val()
                    },
                    dataType:"json",
                    success:function(data){
                        $("#t1").val(data.topic)
                        $("#t2").val(data.uname)
                        $("#t3").val(data.time)
                        $(".inn4").html(data.cot)
                    }

                });
            });
        });
    </script>

</head>
<body>
<!--顶部背景-->
<div id="top">
    <!--顶部内容-->
    <div id="top_content">
        <img src="/static/images/e.jpg" class="top1">
        <p class="top2"><b >企业管理系统</b></p>
        <p class="top3"><a href="/main">回到首页</a></p>
    </div>
</div>

<!-- 主体背景 -->
<div id="box">
    <!-- 主体部分 -->
    <div id="main">
        <!-- 左侧导航栏 -->

            <div id="left_view">
                <ul class="left_view">
                    <li class="left_li"><a href="/recruit">招聘管理</a>
                        <ol class="view">
                            <li onclick="show_recruit3()"><a href="/recruit">临时人员基本情况</a></li>
                            <li onclick="show_recruit1()"><a href="/recruit">应聘人员详情表</a></li>
                        </ol>
                    </li>
                    <li class="left_li"><a href="/attendance">考勤管理</a>
                        <ol class="view">
                            <!--<li>考勤数据采集</li>-->
                            <li onclick="show_inner1()"><a href="/attendance">考勤记录</a></li>
                        </ol>
                    </li>
                    <li class="left_li" id="left_notice">培训计划
                        <ol class="view">
                            <li id="show_notice">发布公告</li>
                            <li id="find_notice">查看公告</li>
                        </ol>
                    </li>
                    <li class="left_li"><a href="main">其他查询</a>
                        <ol class="view">
                            <li id="content1_main"><a href="/main">最近公告信息</a></li>
                            <li id="content2_main"><a href="/main">第一次公告信息</a></li>
                        </ol>
                    </li>
                </ul>
            </div>


        <!--右侧内容区-->
        <div id="inner">
            <!--默认公告区域-->
            <div id="inner1">
                <p class="in1">主题：<input type="text" name="topic" id="topic" style="font-size:20px;"></p>
                <p class="in2">主讲人：<input type="text" name="uname" id="uname" style="font-size:20px;"></p>
                <p class="in4">发表内容：</p>
                <textarea rows="10" cols="auto" class="in5" name="content" id="cot" style="font-size:20px;"></textarea>
                <p class="in6"><button style="font-size:18px;" class="in7">发表</button></p>
            </div>
            <!--搜索主题-->
            <div id="inner2" style="display:none;">
                <p class="inn1">
                    搜索主题：<input type="text" name="topic2" id="topic2">
                    <button class="inn5">搜索</button>
                </p>
                <p class="inn2">主题：
                    <input onfocus=this.blur() id="t1">
                </p>
                <p class="inn3">主讲人：
                    <input onfocus=this.blur() id="t2">
                </p>
                <p class="inn6">时间：
                    <input onfocus=this.blur() id="t3">
                </p>
                <textarea rows="10" cols="auto" class="inn4" onfocus=this.blur()></textarea>

            </div>

        </div>

        <!-- 底部 -->
        <div id="end">
            <p>Copyright © 2001-2019 Weaver Network All Rights Reserved. 渝ICP备xxxxxxxx号</p>
        </div>
    </div>
</div>

</body>
</html>