<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>企业管理系统</title>
    <link rel="stylesheet" href="../static/css/punch_card.css" type="text/css">
</head>
<body>
<div class="top">
    <p>[LOGO]企业管理系统丨</p><span>智能企业管理解决方案,从此管理变得简单...</span>
</div>
<div class="center">
    <img src="../static/images/login_bg_img.jpg" style="margin: 0 auto;width:1585px;height: 600px;">
    <div class="login">

        <form action="/main" method="post" enctype="multipart/form-data">
            <div>



            </div>
        </form>
    </div>

</div>
<div class="bottom">
    <a href="">　公司介绍　丨</a>
    <a href="">　开发团队　丨</a>
    <a href="">　法律申明　丨</a>
    <a href="">　用户协议　丨</a>
    <a href="">　隐私政策　丨</a>
    <a href="">　联系我们</a>
    <p>Copyright © 2001-2019 Weaver Network All Rights Reserved. 渝ICP备xxxxxxxx号</p>
</div>
</body>
</html>