<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>招聘</title>
    <link rel="shortcut icon" href="/static/images/1.jpg" type="image/jpg">
    <link rel="stylesheet" href="/static/css/recruit.css">
    <link rel="stylesheet" href="/static/css/basic.css">
    <script src="/static/js/jquery-1.11.3.js"></script>
    <script src="/static/js/recruit.js"></script>
</head>
<body>
<!--顶部背景-->
<div id="top">
    <!--顶部内容-->
    <div id="top_content">
        <img src="/static/images/e.jpg" class="top1">
        <p class="top2"><b >企业管理系统</b></p>
        <p class="top3"><a href="/main">回到首页</a></p>
    </div>
</div>

<!-- 主体背景 -->
<div id="box">
    <!-- 主体部分 -->
    <div id="main">
        <!-- 左侧导航栏 -->
        <form method="post" action="" enctype="">
            <div id="left_view">
                <ul class="left_view">
                    <li class="left_li"><a>招聘管理</a>
                        <ol class="view">
                            <li onclick="show_recruit3()">临时人员基本情况</li>
                            <li onclick="show_recruit1()">应聘人员详情表</li>
                            <li onclick="show_recruit2()">************</li>

                        </ol>
                    </li>
                    <li class="left_li"><a href="/attendance">考勤管理</a>
                        <ol class="view">
                            <!--<li>考勤数据采集</li>-->
                            <li onclick="show_inner1()"><a href="attendance.html">考勤记录</a></li>
                            <li onclick="show_inner2()"><a href="attendance.html">出差管理</a></li>
                            <li onclick="show_inner3()"><a href="attendance.html">休假管理</a></li>
                            <li onclick="show_inner4()"><a href="attendance.html">加班管理</a></li>
                        </ol>
                    </li>
                    <li class="left_li" id="left_notice"><a href="/notice">培训计划</a>
                        <ol class="view">
                            <li id="show_notice"><a href="/notice">发布公告</a></li>
                            <li id="find_notice"><a href="/notice">查看公告</a></li>
                        </ol>
                    </li>
                    <li class="left_li"><a href="/main">其他查询</a>
                        <ol class="view">
                            <li id="content1_main"><a href="/main">最近公告信息</a></li>
                            <li id="content2_main"><a href="/main">第一次公告信息</a></li>
                        </ol>
                    </li>
                </ul>
            </div>
        </form>

        <!--右侧内容区-->
        <div id="inner">
            <table border="1px" id="table1" cellspacing="0">
                <!--考勤记录-->
                <tr>
                    <td>序号</td>
                    <td>兴趣爱好</td>
                    <td>特长</td>
                    <td>毕业院校</td>
                    <td>培训经历</td>
                    <td>工作经历</td>
                </tr>
                {% for i in params.temp_details%}
                <tr>
                    <th>{{i.id}}</th>
                    <th>{{i.hobby}}</th>
                    <th>{{i.speciality}}</th>
                    <th>{{i.graduation}}</th>
                    <th>{{i.training}}</th>-
                    <th>{{i.career}}</th>
                </tr>
                {% endfor%}

                <tr>
                    <th colspan="11">
                        <a href="/recruit?currentPage_d=1">首页</a>
                        <a href="/recruit?currentPage_d={{params.prevPage_details}}">上一页</a>
                        <a href="/recruit?currentPage_d={{params.nextPage_details}}">下一页</a>
                        <a href="/recruit?currentPage_d={{params.lastPage_details}}">尾页</a>
                    </th>
                </tr>

            </table>
            <table border="1px" id="table3" style="display:none;" cellspacing="0">
                <tr>
                    <th>序号</th>
                    <th>姓名</th>
                    <th>电话</th>
                    <th>生日</th>
                    <th>性别</th>
                    <th>籍贯</th>
                    <th>学历</th>
                    <th>工申请职位</th>
                    <th>期望薪资</th>
                    <th>申请时间</th>
                    <th>审核状态</th>
                </tr>
                {% for i in params.temp_bases%}
                <tr>
                    <th>{{i.num}}</th>
                    <th class="name1">{{i.name}}</th>
                    <th>{{i.tel}}</th>
                    <th>{{i.birthday}}</th>
                    <th>{{i.sex}}</th>-
                    <th>{{i.native}}</th>
                    <th>{{i.education}}</th>
                    <th>{{i.want_job}}</th>
                    <th>{{i.hope_wage}}</th>
                    <th>{{i.apply_time}}</th>
                     <th>{% if i.status%}
                            是
                            {%else%}
                            否
                            {%endif%}
                     </th>
                </tr>
                {% endfor%}


                <tr>

                    <th colspan="11">
                        <a href="/recruit?currentPage=1">首页</a>
                        <a href="/recruit?currentPage={{params.prevPage_bases}}">上一页</a>
                        <a href="/recruit?currentPage={{params.nextPage_bases}}">下一页</a>
                        <a href="/recruit?currentPage={{params.lastPage_bases}}">尾页</a>
                    </th>

                    <!--<th colspan="6"><button onclick="dele3()">关闭</button></th>-->
                </tr>

            </table>
            <div id="detail">
                <table border="1px" id="table2" cellspacing="0">
                    {% for i in params.temp_bases%}
                    <tr>
                        <th class="th">序号</th>
                        <th class="th">{{i.num}}</th>
                        <th class="th">姓名</th>
                        <th class="th">{{i.name}}</th>
                    </tr>
                    <tr>
                        <th class="th">电话</th>
                        <th class="th">{{i.tel}}</th>
                        <th class="th">生日</th>
                        <th class="th">{{i.birthday}}</th>
                    </tr>
                    <tr>
                        <th class="th">性别</th>
                        <th class="th">{{i.sex}}</th>
                        <th class="th">籍贯</th>
                        <th class="th">{{i.native}}</th>
                    </tr>
                    <tr>
                        <th class="th">学历</th>
                        <th class="th">{{i.education}}</th>
                        <th class="th">工申请职位</th>
                        <th class="th">{{i.want_job}}</th>
                    </tr>
                    <tr>
                        <th class="th">期望薪资</th>
                        <th class="th">{{i.hope_wage}}</th>
                        <th class="th">申请时间</th>
                        <th class="th">{{i.apply_time}}</th>
                    </tr>
                    <tr>
                        <th class="th">审核状态</th>
                        <th class="th" colspan="3">
                            {% if i.status%}
                            是
                            {%else%}
                            否
                            {%endif%}
                        </th>
                    </tr>
                    {% endfor%}
                    <!--详情表-->
                    {% for i in params.temp_details%}
                    <tr>
                        <th class="th">兴趣爱好</th>
                        <th class="th">{{i.hobby}}</th>
                        <th class="th">特长</th>
                        <th class="th">{{i.speciality}}</th>
                    </tr>

                    <tr>
                        <th class="th">毕业院校</th>
                        <th class="th">{{i.graduation}}</th>

                    </tr>
                </table>
                <div id="exercise">
                    <h3>培训经历</h3>
                    <p>
                        <textarea cols="97" rows="10">{{i.training}}</textarea>
                    </p>
                    <h3>培训经历</h3>
                    <p>
                        <textarea cols="97" rows="10">{{i.career}}</textarea>
                    </p>
                </div>
                {% endfor%}
            </div>

        </div>

        <!-- 底部 -->
        <div id="end">
            <p>Copyright © 2001-2019 Weaver Network All Rights Reserved. 渝ICP备xxxxxxxx号</p>
        </div>
    </div>
</div>

</body>
</html>