<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>招聘</title>
    <link rel="shortcut icon" href="/static/images/1.jpg" type="image/jpg">
    <link rel="stylesheet" href="/static/css/recruit.css">
    <link rel="stylesheet" href="/static/css/basic.css">
    <script src="/static/js/jquery-1.11.3.js"></script>
    <script src="/static/js/recruit.js"></script>
</head>
<body>
<!--顶部背景-->
<div id="top">
    <!--顶部内容-->
    <div id="top_content">
        <img src="/static/images/e.jpg" class="top1">
        <p class="top2"><b >企业管理系统</b></p>
        <p class="top3"><a href="/main">回到首页</a></p>
    </div>
</div>

<!-- 主体背景 -->
<div id="box">
    <!-- 主体部分 -->
    <div id="main">
        <!-- 左侧导航栏 -->
        <form method="post" action="" enctype="">
            <div id="left_view">
                <ul class="left_view">
                    <li class="left_li"><a>招聘管理</a>
                        <ol class="view">
                            <li><a href="/recruit">应聘信息</a></li>
                            <li><a href="/recruit_d">应聘人员详情表</a></li>

                        </ol>
                    </li>
                    <li class="left_li"><a>考勤管理</a>
                        <ol class="view">

                            <li onclick="show_inner1()"><a href="attendance.html">考勤记录</a></li>
                        </ol>
                    </li>
                    <li class="left_li"><a href="notice.html">培训计划</a></li>
                    <li class="left_li"><a href="main.html">其他查询</a></li>
                </ul>
            </div>
        </form>

        <!--右侧内容区-->
        <div id="inner_content">
            <table border="1px" id="table1" cellspacing="0">
                <tr>
                    <th>序号</th>
                    <th>姓名</th>
                    <th>电话</th>
                    <th>生日</th>
                    <th>性别</th>
                    <th>籍贯</th>
                    <th>学历</th>
                    <th>工申请职位</th>
                    <th>期望薪资</th>
                    <th>申请时间</th>
                    <th>审核状态</th>
                    <th>查看详情</th>
                </tr>
                {% for i in params.temp_bases%}
                <tr>
                    <th>{{i.num}}</th>
                    <th class="name1">{{i.name}}</th>
                    <th>{{i.tel}}</th>
                    <th>{{i.birthday}}</th>
                    <th>{{i.sex}}</th>
                    <th>{{i.native}}</th>
                    <th>{{i.education}}</th>
                    <th>{{i.want_job}}</th>
                    <th>{{i.hope_wage}}</th>
                    <th>{{i.apply_time}}</th>
                     <th>{% if i.status%}
                            是
                            {%else%}
                            否
                            {%endif%}</th>
                    <th><a href="/recruit_d?currentPage_d={{i.num}}">详情</a></th>
                </tr>
                {% endfor%}


            </table>
            <p class="page">
                <a href="/recruit?currentPage=1">首页</a>
                <a href="/recruit?currentPage={{params.prevPage_bases}}">上一页</a>
                <a href="/recruit?currentPage={{params.nextPage_bases}}">下一页</a>
                <a href="/recruit?currentPage={{params.lastPage_bases}}">尾页</a>
             </p>
        </div>

        <!-- 底部 -->
        <div id="end">
            <p>Copyright © 2001-2019 Weaver Network All Rights Reserved. 渝ICP备xxxxxxxx号</p>
        </div>
    </div>
</div>

</body>
</html>