<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>企业管理系统</title>
    <link rel="stylesheet" href="/static/css/register.css" type="text/css">
    <script src="/static/js/jquery-1.11.3.js"></script>

</head>
<body>
<div id="top">
    <p>[LOGO]企业管理系统丨</p><span>智能企业管理解决方案,从此管理变得简单...</span>
</div>
<div id="center">
    <img src="/static/images/login_bg_img.jpg">
    <div id="login">
        <form action="main.html" method="post" enctype="multipart/form-data">
            <div id="l1">
                <a href="/">登　录</a>
            </div>
            <div id="l2">
                <a href="/register">注　册</a>
            </div>
            <p id="l6"></p>
            <div  align="center" id="content">
                <table id="l3" cellspacing="0">
                    <tr class="user">
                        <td class="user1">统一社会信用代码</td>
                        <td class="user2">
                            <input type="text" class="box" placeholder="请输入统一社会信用码">
                        </td>
                    </tr>
                    <tr class="br"></tr>
                    <tr class="user">
                        <td class="user1">企业名称</td>
                        <td class="user2">
                            <input type="text" class="box" placeholder="请输入企业名称">
                        </td>
                    </tr>
                    <tr class="br"></tr>
                    <tr class="user">
                        <td class="user1">企业类型</td>
                        <td class="user2">
                            <input type="text" class="box" placeholder="请输入企业类型">
                        </td>
                    </tr>
                    <tr class="br"></tr>
                    <tr class="user">
                        <td class="user1">企业地址</td>
                        <td class="user2">
                            <input type="text" class="box" placeholder="请输入企业地址">
                        </td>
                    </tr>
                    <tr class="br"></tr>
                    <tr class="user">
                        <td class="user1">法定代表人</td>
                        <td class="user2">
                            <input type="text" class="box" placeholder="请输入法定代表人">
                        </td>
                    </tr>
                    <tr class="br"></tr>
                    <tr class="user">
                        <td class="user1">代表人身份证号码</td>
                        <td class="user2">
                            <input type="text" class="box" placeholder="请输入合法二代身份证">
                        </td>
                    </tr>
                    <tr class="user">
                        <td id="l5" colspan="2">
                            <input type="submit" value="注　册">
                        </td>
                    </tr>
                </table>
            </div>

        </form>
    </div>

</div>
<div id="bottom">
    <a href="">　公司介绍　丨</a>
    <a href="">　开发团队　丨</a>
    <a href="">　法律申明　丨</a>
    <a href="">　用户协议　丨</a>
    <a href="">　隐私政策　丨</a>
    <a href="">　联系我们</a>
    <p>Copyright © 2001-2019 Weaver Network All Rights Reserved. 渝ICP备xxxxxxxx号</p>
    <script>
        function showlogin() {
            document.getElementById("d1").style.display="";
        }
        //关闭注册窗口

        function dele() {
            document.getElementById("d1").style.display="none";
        }

    </script>
</div>
</body>
</html>