<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>企业管理系统</title>
    <link rel="stylesheet" href="/static/css/staff-login.css" type="text/css">
    <script src="/static/js/login.js"></script>

</head>
<body>
<div id="top">
    <p>[LOGO]企业管理系统丨</p><span>智能企业管理解决方案,从此管理变得简单...</span>
    <span class="admin1"><a href="/">管理员登录</a></span>
</div>
<div id="center">
    <img src="/static/images/login_bg_img.jpg">
    <div id="login">

        <form action="/staff-login" method="post">
            <div id="l1">
                <a href="#">员　工　登　录</a>
            </div>
            <p id="l6"></p>
            {% if flag %}
                <span>用户名或密码错误</span>
            {% endif %}
            <table id="l3">
                <tr id="username1">
                    <td class="user1">账　号</td>
                    <td class="user2">
                        <input class="box" type="text" name="tel" placeholder="请输入手机号码">
                    </td>
                </tr>
                <tr id="l7">
                <tr>
                    <td class="user1">密　码</td>
                    <td class="user2">
                        <input class="box" type="password" name="birthday" placeholder="请输入8位生日">
                    </td>
                </tr>
                <tr>
                    <td colspan="2" id="l4">
                        <input type="checkbox" name="remember_pwd">
                        <span>记住密码</span>
                        <a href="">忘记密码?</a>
                    </td>
                </tr>
                <tr>
                    <td id="l5" colspan="2">
                        <input type="submit" value="登　录">
                    </td>
                </tr>
            </table>
        </form>
    </div>

</div>
<div id="bottom">
    <a href="">　公司介绍　丨</a>
    <a href="">　开发团队　丨</a>
    <a href="">　法律申明　丨</a>
    <a href="">　用户协议　丨</a>
    <a href="">　隐私政策　丨</a>
    <a href="">　联系我们</a>
    <p>Copyright © 2001-2019 Weaver Network All Rights Reserved. 渝ICP备xxxxxxxx号</p>
</div>


</body>
</html>