<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>临时信息表</title>
    <link rel="stylesheet" href="../static/css/temporary.css">
</head>
<body>

<div id="content">
    <h1>入职申请</h1>
    <form action="/temporary" method="post" enctype="multipart/form-data">
        <table>
            <tr>
                <th>姓　　　　名：</th>
                <th colspan="3"><input type="text" name="name" class="input_box" placeholder="请输入姓名"></th>
            </tr>
            <tr>
                <th>电　　　　话：</th>
                <th colspan="3">
                    <input type="tel" name="tel" class="input_box" maxlength="11" placeholder="请输入电话"></th>
            </tr>
            <tr>
                <th>生　　　　日：</th>
                <th colspan="3">
                    <input type="date" name="birthday" class="time" placeholder="请输入生日"></th>
            </tr>
            <tr>
                <th>性　　　　别：</th>
                <th><input type="radio" name="sex" value="男" class="check" checked>
                    男<input type="radio" name="sex" value="女" class="check">女
                </th>

            </tr>
            <tr>
                <th>籍　　　　贯：</th>
                <th colspan="3"><input type="text" name="native" class="input_box" placeholder="请输入籍贯"></th>
            </tr>
            <tr>
                <th>学　　　　历：</th>
                <th colspan="3"><input type="text" name="education" class="input_box" placeholder="请输入学历"></th>
            </tr>
            <tr>
                <th>工作申请职位：</th>
                <th colspan="3"><input type="text" name="want_job" placeholder="请输入工作申请职位" class="input_box"></th>
            </tr>
            <tr>
                <th>期望　　薪资：</th>
                <th colspan="3">
                    <input type="text" name="hope_wage" placeholder="请输入期望薪资" class="input_box"></th>
            </tr>
            <tr>
                <th>兴趣　　爱好：</th>
                <th colspan="2"><input type="text" name="hobby" class="input_box" placeholder="请输入兴趣爱好"></th>
            </tr>
            <tr>
                <th>特　　　　长：</th>
                <th colspan="2"><input type="text" name="speciality" class="input_box" placeholder="请输入特长"></th>
            </tr>
            <tr>
                <th>毕业　　院校：</th>
                <th colspan="2"><input type="text" name="graduation" class="input_box" placeholder="请输入毕业院校"></th>
            </tr>
        </table>
        <div id="exercise">
            <p>培训经历：</p>
            <textarea name="training" cols="58" rows="10"></textarea>
            <p>工作经历：</p>
            <textarea name="career" cols="58" rows="10"></textarea>
        </div>
        <button id="submit">提交</button>
    </form>
</div>
</body>
</html>