body{
    background:pink;
}


#d0{

    font-size:24px;
    margin:1px 0;
    text-align:center;
    outline:overline;
    line-height:50px;
    border-bottom:1px solid black;
}
#d01{
    border-left:1px solid black;

}

#d1{
    width:200px;
    height:100px;
    background:pink;
    border-right:1px solid black;
    text-align:center;

}
#d2{
    width:200px;
    height:100px;
    background:pink;
    border-right:1px solid black;
    text-align:center;
}
#d3{
    width:200px;
    height:100px;
    background:pink;
    border-right:1px solid black;
    text-align:center;
}
#d4{
    width:200px;
    height:100px;
    background:pink;
    border-right:1px solid black;
    text-align:center;
}
a{
    font-size:24px;
    text-decoration:none;
    line-height:100px;
    text-align:center;

}
a:hover{
    color:black;
    background:blue;


}